<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #121212 !important;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        padding: 0;
        margin: 0;
      }

      .row {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .col-8 {
        background-color: #1e1e1e;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        padding: 20px 30px;
        border-radius: 8px;
        width: 66.666%;
      }

      h2 {
        margin-bottom: 20px;
        color: #ffffff;
      }

      p {
        margin: 10px 0;
        font-size: 16px;
        color: #cccccc;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      textarea {
        background-color: #2e2e2e;
        border: 1px solid #444;
        border-radius: 4px;
        color: #ffffff;
        padding: 10px;
        font-size: 16px;
        outline: none;
        resize: vertical;
        height: 100px;
        transition: border-color 0.3s;
      }

      textarea:focus {
        border-color: #e84023;
      }

      button {
        background-color: #e84023;
        color: #ffffff;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      button:hover {
        background-color: #bc2004;
      }

      button:active {
        background-color: #9b1700;
      }
    </style>
  </head>
  <body>
    <%- include("navbar.ejs") %>
    <div class="container">
      <div class="row mt-2 mb-2">
        <div class="col-8">
          <h2 style="color: #fff">Edit the Post</h2>
          <p>Post ID: <%=post.id%></p>
          <p>Post Name: <%=post.username%></p>
          <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
            <textarea name="content"><%=post.description%></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
